.input{
    height: 100px;
}
.emp{
    margin-left: 30px;
}
.occ{
    margin-left: 40px;
}
.div1{
    display: flex;
    text-align: center;
    border-radius: 5px;
}
.result{
    border-width: 20cm;
    border-color: black;
}